@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #EAE5E5;
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.445), 0 10px 10px rgba(0, 0, 0, 0.445);
}

img{
    width: 100px;
    height: 122px;
    margin-right: 5%;
}
p{
    font-family: 'Roboto', sans-serif;
    color: darkblue;
    font-size: 30px;
}
body{
    background-color: #C9C7C7;
}
a{
    font-family: 'Roboto', sans-serif;
    color: darkblue;
    font-size: 24px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fbe9bb;
    width: 19%;
    height: 228px;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 45%), 0 10px 10px rgb(0 0 0 / 45%);
    margin: 1% 1%;

}
a:hover{
    transition: .5s;
    background-color: rgb(243, 182, 243);
    color: black;

}
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}